.Frame {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; 
    overflow: hidden;
}

.Frame iframe,
.Frame object,
.Frame embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}