@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Source+Sans+Pro:wght@300&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  font-size: 15px;
}
.hero-area {
    position: relative;
    padding: 50px 0 120px 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    background-image: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 420px;
  }

  .hero-area .hero-image img {
    width: 100%;
  }
  
  @media only screen and (min-width: 520px) and (max-width: 520px) {
    .hero-area .hero-image {
      margin-top: 40px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-image {
      margin-top: 40px;
    }
  }

  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  



  nav {
    position: fixed;
    width: 60px;
    margin-top: 150px;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4)
}

nav ul {
    margin-top: 0;
    margin-bottom: 0rem
}

nav li {
    height: 45px;
    position: relative
}

nav li a {
    color: #fff !important;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .3s linear;
    text-decoration: none !important
}

nav li:nth-child(1) a {
    background: #4267B2
}

nav li:nth-child(2) a {
    background: #1DA1F2
}

nav li:nth-child(3) a {
    background: #E1306C
}

nav li:nth-child(4) a {
    background: #2867B2
}

nav li:nth-child(5) a {
    background: #333
}

nav li:nth-child(6) a {
    background: #ff0000
}

nav li a i {
    position: absolute;
    top: 14px;
    left: 24px;
    font-size: 15px
}

ul li a span {
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase
}

a:hover {
    z-index: 1;
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3)
}

ul li:hover a span {
    padding-left: 30%;
    display: block;
    font-size: 15px
}