* {
    box-sizing: border-box;
  }
  .App {
    font-family: "Open Sans", cursive;
    display: flex;
  }
  .App .Meta {
    flex-grow: 1;
    padding-right: 15px;
  }
  .App .Meta input {
    font-family: inherit;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
  }
  .App .Meta button {
    padding: 10px 15px;
    font-family: inherit;
    margin: 20px 0;
    cursor: pointer;
  }
  .App #downloadWrapper {
    padding: 20px;
  }
  .App #certificateWrapper {
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .App #certificateWrapper img {
    display: block;
  }
  .App #certificateWrapper p {
    font-family: "Open Sans", cursive;
    margin: 0;
    position: absolute;
    left: 90px;
    top: 300px;
    font-size: 40pt;
  }
  

  .sidenav {
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(39, 39, 39);
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #000000;
  }
  
  .main {
    margin-left: 90px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}



