* {
    box-sizing: border-box;
  }
  .App {
    font-family: "Open Sans", cursive;
    display: flex;
  }
  .App .Meta {
    flex-grow: 1;
    padding-right: 15px;
  }
  .App .Meta input {
    font-family: inherit;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
  }
  .App .Meta button {
    padding: 10px 15px;
    font-family: inherit;
    margin: 20px 0;
    cursor: pointer;
  }
  .App #downloadWrapper {
    padding: 20px;
  }
  .App #certificateWrapper {
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .App #certificateWrapper img {
    display: block;
  }
  .App #certificateWrapper p {
    font-family: "Open Sans", cursive;
    margin: 0;
    position: absolute;
    left: 90px;
    top: 300px;
    font-size: 40pt;
  }
  

  

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
Card {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


