* {
    box-sizing: border-box;
  }
  .App {
    font-family: "Open Sans", cursive;
    display: flex;
  }
  .App .Meta {
    flex-grow: 1;
    padding-right: 15px;
  }
  .App .Meta input {
    font-family: inherit;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
  }
  .App .Meta button {
    padding: 10px 15px;
    font-family: inherit;
    margin: 20px 0;
    cursor: pointer;
  }
  .App #downloadWrapper {
    padding: 20px;
  }
  .App #certificateWrapper {
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .App #certificateWrapper img {
    display: block;
  }
  .App #certificateWrapper p {
    font-family: "Open Sans", cursive;
    margin: 0;
    position: absolute;
    left: 90px;
    top: 300px;
    font-size: 40pt;
  }
  

  

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}



.sticky-container{
  padding:0px;
  margin:0px;
  position:fixed;
  right:-130px;
  top:230px;
  width:210px;
  z-index: 1100;
}
.sticky li{
  list-style-type:none;
  background-color:#fff;
  color:#efefef;
  height:43px;
  padding:0px;
  margin:0px 0px 1px 0px;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
}
.sticky li:hover{
  margin-left:-115px;
}
.sticky li img{
  float:left;
  margin:5px 4px;
  margin-right:5px;
}
.sticky li p{
  padding-top:5px;
  margin:0px;
  line-height:16px;
  font-size:11px;
}
.sticky li p a{
  text-decoration:none;
  color:#2C3539;
}
.sticky li p a:hover{
  text-decoration:underline;
}