.heading:hover {
    color: rgb(0, 153, 255);
    }



      .topnav {
        overflow: hidden;
      }
      
      .topnav a {
        float: left;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      
      .topnav-right {
        float: right;
      }
