

  h1 {
    margin: 0;
  }
  .board {
    position: relative;
    padding: 0;
  }
  .tile {
    position: absolute;
    list-style: none;
    background: #4282e4;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #fff;
  }
  button {
    display: block;
  }

  .box{

        display: grid;
        place-items: center;
        height: 100vh;
   
  }