
.backGround{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #ffffff, #b7d8f5);
    display: flex;

}
background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);

h1 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .imgProf {
  height: 40px;
  }